/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Inicio Estructura Menu */
#wpbody-content {
  padding: 20px;
}
#wpbody-content .nav-tabs .nav-item.show .nav-link,
#wpbody-content .nav-tabs .nav-link.active {
  background-color: #28a745;
  color: #fff;
}
#wpbody-content .nav-tabs .nav-link {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Agrega un borde alrededor de cada opción del menú */
  padding: 10px; /* Espaciado interno para mayor claridad */
}
#wpbody-content .nav-tabs {
  border: 1px solid #ccc; /* Agrega un borde alrededor de todo el elemento <ul> */
  border-radius: 5px;
}
#wpbody-content .nav-tabs .nav-link i {
  margin-left: auto; /* Alinea el ícono a la derecha */
}
#wpbody-content .tab-content {
  border: 1px solid #ccc; /* Agrega un borde alrededor de cada tab content */
  padding: 20px; /* Espaciado interno para mayor claridad */
  border-radius: 5px;
}
/* Fin Estructura Menu */
