/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Inicio Estructura Menu */
#wpbody-content {
  padding: 20px;
}
#wpbody-content .nav-tabs .nav-item.show .nav-link,
#wpbody-content .nav-tabs .nav-link.active {
  background-color: #28a745;
  color: #fff;
}
#wpbody-content .nav-tabs .nav-link {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; /* Agrega un borde alrededor de cada opción del menú */
  padding: 10px; /* Espaciado interno para mayor claridad */
}
#wpbody-content .nav-tabs {
  border: 1px solid #ccc; /* Agrega un borde alrededor de todo el elemento <ul> */
  border-radius: 5px;
}
#wpbody-content .nav-tabs .nav-link i {
  margin-left: auto; /* Alinea el ícono a la derecha */
}
#wpbody-content .tab-content {
  border: 1px solid #ccc; /* Agrega un borde alrededor de cada tab content */
  padding: 20px; /* Espaciado interno para mayor claridad */
  border-radius: 5px;
}
#wpbody-content .submit {
  display: none !important;
}
#wpbody-content .zeleri-button-submit {
  display: block !important;
}
#wpbody-content .row {
  max-width: 90%;
}
/* Fin Estructura Menu */

/* Inicio notice resena */
.zeleri-notice {
  display: flex;
}
.zeleri-notice .zeleri-review-text {
  max-width: 65%;
}
.zeleri-notice .img-logo-zeleri img {
  margin: 20px;
}
.zeleri-notice .zeleri-review-title {
  font-size: 18px;
  font-weight: 500;
}
.zeleri-notice .zeleri-button-primary {
  margin-left: auto;
  height: 20px;
  margin-top: 25px;
}
.button.zeleri-button-primary {
  background: #28a745;
  border-color: #28a745;
  color: white;
  transition: background-color 0.3s ease;
}
/* Final notice resena */

#configuracion label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#configuracion .woocommerce-help-tip {
  margin-left: 10px; /* Ajusta el margen según tus preferencias */
}
